# /etc/systemd/system/banq-riw@.service
[Unit]
Description=Run banq reindex %I -YP --watch=86400 | riw2db
After=network.target

[Service]
ExecStart=/usr/bin/env bash -c 'IFS="_:" read -r T M P <<< "%I"; exec /usr/local/bin/banq reindex "$T" --mode="$M" --pool="$P" -YP --watch=86400 | /usr/local/bin/banq-riw2db.sh /var/lib/banq/ri-%I.db'
EnvironmentFile=/etc/banq/banq.env.mainnet
StandardOutput=journal
StandardError=journal
StateDirectory=banq
Restart=on-failure
RestartSec=10

# Use non-root
Group=banq
User=banq

# Resource protection
MemoryMax=500M
CPUQuota=100%

# Security hardening
PrivateTmp=yes
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=/var/lib/banq
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RemoveIPC=yes
PrivateMounts=yes
RestrictNamespaces=yes
LockPersonality=yes
RestrictAddressFamilies=AF_INET AF_INET6
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
