# /etc/systemd/system/banq-rtw@.service
[Unit]
Description=Run banq retwap %I -YP --watch=86400 | rtw2db
After=network.target

[Service]
ExecStart=/usr/bin/env bash -c 'IFS="_:"; read T0 T1 O <<< "%I"; /usr/local/bin/banq retwap "$T0" "$T1" --oracle="$O" -YP --watch=86400 | /usr/local/bin/banq-rtw2db.sh /var/lib/banq/rt-%I.db'
EnvironmentFile=/etc/banq/banq.env.mainnet
StandardOutput=journal
StandardError=journal
StateDirectory=banq
Restart=on-failure
RestartSec=10

# Use non-root
Group=banq
User=banq

# Resource protection
MemoryMax=500M
CPUQuota=100%

# Security hardening
PrivateTmp=yes
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=/var/lib/banq
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RemoveIPC=yes
PrivateMounts=yes
RestrictNamespaces=yes
LockPersonality=yes
RestrictAddressFamilies=AF_INET AF_INET6
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
